
@{
    ViewBag.Title = "Index";
}

<h2>Fizetés</h2>
<h2>
    @Html.ActionLink("Fizetés Kártyával", "PaymentWithCreditCard")   |   
    <a href="@Url.Action("PaymentWithPaypal")">
        <img src="@Url.Content("~/Content/Images/paypal.png")" />
    </a>
</h2>

