
@{
    ViewBag.Title = "Index";
}

<div class="h2">Fizetés</div>
<div class="h2">
    @Html.ActionLink("Fizetés Kártyával", "PaymentWithCreditCard")   |   
    <a href="@Url.Action("PaymentWithPaypal")">
        <img src="@Url.Content("~/Content/Images/paypal.png")" />
    </a>
</div>

